/build/
.git_knn
/out/
*.hprof
*.zip
*.tgz
.private
.gradle/
/gradle/
/gradlew
/gradlew.bat
/lastversion.txt
.DS_Store
.idea/
.vagrant/
/temp/
/tmp/
/data/
/cfg/
/cache/
deps.txt
/jar/
/jars/
/bin/jar/