/build/
.git_knn
/out/
*.hprof
*.iml
*.ipr
*.iws
*.hprof.idom
*.zip
*.tgz
__pycache__
.private
.gradle/
/gradlew.bat
/lastversion.txt
.DS_Store
.idea/
.vagrant/
/temp/
/tmp/
/data/
/cfg/
/cache/
deps.txt
/jar/
/jars/
/bin/jar/
local.properties
.auth.json