/*https://stackoverflow.com/questions/13200439/javafx2-2-making-a-scrollbar-with-transparent-background*/

/*not currently using this, because after making scroll bars transparet I found out that nothing was in fact being laid out underneath them, so it was just creating a weird space. Search for search key FRHWOIH83RH3URUG34TGOG34G934G */

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar .increment-button {
    visibility: hidden;
}

.scroll-bar .decrement-button {
    visibility: hidden;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track-background {
    visibility: hidden;
}

.scroll-bar:vertical .track {
    visibility: hidden;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}